
.swiperBtnContainer{
    display: flex;
    justify-content: flex-end;
    gap:4rem;
}

.swiperBtn{
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
}

.swiperBtnActive{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.swiperBtnDisabled{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}