.testimonials {
  padding: 20rem 0;
}

.refrenceNum {
  font-size: 2.4rem;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 2.4rem;
}

.slide:hover {
  cursor: grab;
}

@media (max-width: 39em) {
  .testimonials {
    padding: 9.8rem 0;
  }
}
