.loaderContainer{
    position: relative;
    width: 100%;
    height: calc(100vh - 9.8rem);
}

/* https://www.easycodetools.com/tool/css-loader-gen  */
.loader {
    position: absolute;
    top:20%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    display: grid;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    --color: radial-gradient(farthest-side, #417c2a 92%, #0000);
    background:
        var(--color) 50% 0,
        var(--color) 50% 100%,
        var(--color) 100% 50%,
        var(--color) 0 50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: rotation 1s infinite;
}

.loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear;
}

@keyframes rotation {
    100% {
        transform: rotate(.5turn)
    }
}