* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --color-white: #fff;
  --color-white-transparent: #ffffffb3;
  --color-dark-grey: #333;
  --color-medium-grey: #555;
  --color-green: #2b8a3e;
  --color-light-green: #968b39;
}

body {
  overflow-x: hidden;
  font-family: "Lato", system-ui;
  color: var(--color-dark-grey);
  font-weight: 400;
  line-height: 1;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.swiper {
  overflow: visible !important;
}

/****************************************/
/***** General Reusable Sub-Headings  *****/
/****************************************/

.sub-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--color-green);
  letter-spacing: 1.35px;
}

/****************************************/
/***** General Reusable Headings  *****/
/****************************************/

.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-tertiary--sm {
  line-height: 1.2;
}

.heading-primary {
  font-size: clamp(3.6rem, 4.4vw, 5.2rem);
}

.heading-secondary {
  font-size: clamp(3rem, 3.6vw, 4.4rem);
}

.heading-tertiary {
  font-size: clamp(2rem, 2.2vw, 2.4rem);
}

.heading-tertiary--sm {
  font-size: clamp(1.8rem, 1.8vw, 2rem);
}

/*****************************************/
/***** General Reusable Textes  *****/
/*****************************************/

.description-lg,
.description-md,
.description-sm {
  color: var(--color-medium-grey);
  text-align: justify;
  line-height: 1.6;
}

.description-lg {
  font-size: 2.4rem;
}

.description-md {
  font-size: 1.8rem;
}

.description-sm {
  font-size: 1.6rem;
}

/*******************************************/
/***** General Reusable Containers *****/
/*******************************************/

.container-lg,
.container-md {
  margin: 0 auto;
  padding: 0 3.6rem;
}

.container-lg {
  max-width: 130rem;
}

.container-md {
  max-width: 110rem;
}

/****************************************/
/***** General Reusable Paddings  *****/
/****************************************/

.pl-lg {
  padding-left: 20rem;
}

/****************************************/
/***** General Reusable Margins  *****/
/****************************************/

.mb-lg {
  margin-bottom: 6rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-xs {
  margin-bottom: 1rem;
}

/****************************************/
/***** General Reusable Links  *****/
/****************************************/

.link:link,
.link:visited {
  font-size: 1.8rem;
  position: relative;
  text-decoration: none;
  color: var(--color-dark-grey);
  display: inline-block;
}

.link:hover,
.link:active {
  color: var(--color-medium-grey);
}

.link:hover::after {
  background-color: var(--color-medium-grey);
}

.link::after {
  content: "";
  width: 90%;
  height: 1.5px;
  background-color: var(--color-dark-grey);
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}

/****************************************/
/***** GRID SYSTEM *****/
/****************************************/

.grid {
  display: grid;
  align-items: flex-start;
  column-gap: 6.4rem;
  row-gap: 16.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/****************************************/
/***** Media Queries  *****/
/****************************************/

@media (max-width: 64em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 48em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 54em) {
  .pl-lg {
    padding-left: 0;
  }

  .mb-md {
    margin-bottom: 2rem;
  }
}

@media (max-width: 33em) {
  .grid {
    row-gap: 9.8rem;
  }

  .description-lg {
    font-size: 2rem;
  }
}
